name: Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 1.23.x, 1.25.x ]
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run coverage
        run: go test -race ./... -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        if: ${{ matrix.go-version == '1.23.x' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
